tempo/
uploads/
static/outputs/
outputs/

# Modele, ale NIE ignoruj własnego mnist_model.pth
*.pth
!mnist_model.pth

# Pliki systemowe/IDE
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
.env
.venv
.idea/
.vscode/
*.swp

# Pliki logów
*.log*.pt
*.pt
